@import "node_modules/bootstrap/scss/bootstrap.scss";

.slider {
  background: linear-gradient(210deg,#943cff 0%,#dd45d3 40.13%,#fc9a57 90%);
  color: white;
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

footer {
  ul {
    -webkit-padding-start: 0;
    padding: 0;
    & > li {
      list-style: none;
      a, a:hover {
        color: inherit;
      }
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}
