$gradient: linear-gradient(210deg,#943cff 0%,#dd45d3 40.13%,#fc9a57 90%);

// Bootstrap Custom Variables here

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
//@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
//@import "node_modules/bootstrap/scss/card";
//@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
//@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/jumbotron";
//@import "node_modules/bootstrap/scss/alert";
//@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/media";
//@import "node_modules/bootstrap/scss/list-group";
//@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/toasts";
//@import "node_modules/bootstrap/scss/modal";
//@import "node_modules/bootstrap/scss/tooltip";
//@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
//@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
//@import "node_modules/bootstrap/scss/print";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/// Typography

@font-face {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/HKGrotesk-Bold.woff2') format("woff2"), url('../fonts/HKGrotesk-Bold.woff') format("woff");;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/HKGrotesk-ExtraBold.woff2') format("woff2"), url('../fonts/HKGrotesk-ExtraBold.woff') format("woff");;
  font-display: swap;
}

body {
  font-family: 'HKGrotesk', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "HKGrotesk";
  font-weight: 500
}

p {
  font-family: 'Roboto', sans-serif;
  .text-muted {
    color: #869ab8;
  }
}

.bg-primary-faded {
  color: $primary;
  background-color: rgba(red($primary), green($primary), blue($primary), 0.2);
}
