$gradient: linear-gradient(210deg,#943cff 0%,#dd45d3 40.13%,#fc9a57 90%);

// Bootstrap Custom Variables here

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import '../../../node_modules/slick-carousel/slick/slick.css';
@import '../../../node_modules/slick-carousel/slick/slick-theme.css';

/// Typography

@font-face {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/HKGrotesk-Bold.woff2') format("woff2");
}

@font-face {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/HKGrotesk-ExtraBold.woff2') format("woff2");
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'HKGrotesk', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "HKGrotesk";
  font-weight: 500
}

p {
  font-family: 'Roboto', sans-serif;
}

.bg-primary-faded {
  color: $primary;
  background-color: rgba(red($primary), green($primary), blue($primary), 0.2);
}

.btn.btn-primary {
  background: $gradient;
  border: 0;
}
